
//color themes

//colors
$color-black: #000;
$color-white: #fff;

$color-info: #17a2b8;
$color-danger: #dc3545;
$color-dark: #343a40;
$color-light: #f8f9fa;
$color-warning: #ffc107;
$color-success: #28a745;
$color-primary: #007bff;

//size
$size-sm: 768;
$size-md: 992;
$size-lg: 1200;

//path 
$path-fonts: "~@/fonts";
$path-font-nunito: "#{$path-fonts}/nunito";
$path-font-icomoon: "#{$path-fonts}/icomoon";

//path 
$font-nunito: 'Nunito', sans-serif;