
//color themes
$theme-calm-blue: #A6FFCB;
$theme-blue: #12D8FA;
$theme-strong-blue: #1FA2FF;

//colors
$color-primary: 768;
$color-danger: 992;
$color-dark: 1200;
$color-light: 1200;

//size
$size-sm: 768;
$size-md: 992;
$size-lg: 1200;

//path 
$path-fonts: "../../fonts";
$path-font-nunito: "#{$path-fonts}/nunito";
$path-font-icomoon: "#{$path-fonts}/icomoon"